*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
  background-color: rgba(176, 224, 230, 0.592);
  width: 90%;
  margin: auto;
}

.body > header > h1 {
 text-align: center;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout {
  display: flex;
  flex-direction: column;
  row-gap: 0.2em;
  align-items: flex-end;
}

.lists {
  display: flex;
  column-gap: 2em;
  flex-wrap: wrap;
  row-gap: 2em;
  justify-content: center;
  padding: 2em;
}

.list {
  height: 400px;
  background-color: white;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  row-gap: 1em;
}

#add-list :first-child{
width: 200px;
}

.list-header{
  width: 100%;
  background-color: skyblue;
  display: flex;
  justify-content: end;
}

.list-header :first-child{
  width: 80%;
  text-align: center;
}

.add-item{
  width: 100%;
  text-align: center;
}

.add-item > input {
  width: 80%;
}

.items{
  width: 80%;
}

.items > li{
  list-style: none;
  display: flex;
  column-gap: 1em;
  border: 1px solid lightgray;
  padding: 0.5em;
  border-radius: 5px;
}

.items .task {
  width: 60%;
}