* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #16425B;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.body{
  width: 960px;
  margin: auto;
}

header > h1 {
  text-align: center;
  color: white;
  text-shadow: 1px 2px 2px white;
  font-size: 3em;
}

h2 {
  color: #caf0f8;
  font-size: 2em;
}

h3 {
  margin-top: 0.5em;
  color: white;
  font-size: 1.5em;
}

.about{
  font-size: 1.2em;
  margin-top: 1em;
  text-align: center;
}

.get-Started {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 2em;
}

.auth {
  background-color: white;
  height: 20em;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  row-gap: 1em;
}

.button {
  background-color: #3A7CA5;
  color: white;
  width: 100%;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  row-gap: 1em;
}

form > *{
  width: 90%; 
}

input {
  height: 2.5em;
  font-size: 0.8em;
}

.message-area {
  height: 1em;
  width: 90%;
  font-size: 0.8em;
}

.auth-heading {
  font-size: 1.2em;
}